:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-english-violet: #60435F;
  --color-sky-magenta: #D67AB1;
  --color-lavender-pink: #E2A3C7;
  --color-snow: #FDF7FA;
  --color-tiffany-blue: #A8DCD9;


  color-scheme: light dark;
  color: var(--color-english-violet);
  background-color: var(--color-snow);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  /* react root also needs height */
  height: 100%;
}